%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %p
    = f.label :email
    %br/
    = f.text_field :email
  %p
    = f.label :password
    %br/
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation

  %p
    - resource.applications.build if resource.applications.empty?
    = f.fields_for :applications do |af|
      = af.label :name, "Your first application title"
      %br/
      = af.text_field :name
  %p= f.submit "Sign up"
= render :partial => "devise/shared/links"
