%tr{:class => "#{cycle(:odd, :even)} entry #{entry.severity} #{entry.facility}"}
  %td.severity{:title => entry.severity}
    = entry.severity[0, 1].upcase
  %td.facility
    = entry.facility
  %td.timestamp
    %div.head
      = entry.timestamp.strftime("%d %b, %H:%M")
    %div.body= l(entry.timestamp)
  %td.payload
    %div.head= truncate(entry.payload.inspect, :length => 80)
    %div.body
      = entry.payload.inspect.gsub(",", ",<br />").html_safe
      = link_to 'Close', '#', :class => 'close'
