#block-tables.block
  .content
    %h2.title Log Entries
    .inner

      #entries
        = render :partial => 'entries', :locals => { :entries => @entries }

- content_for :sidebar do
  #filters.block
    %h3 Filters
    .content
      = simple_form_for @filter, :url => application_entries_path(@application), :html => { :method => :get } do |f|
        = f.input :severity, :collection => Entry::SEVERITY_TYPES.each, :required => false, :prompt => 'Any'
        = f.input :facility, :required => false
        = f.input :time_frame, :collection => %w(Today Yesterday Custom), :prompt => 'All', :required => false
        = f.input :time_from, :required => false, :label => 'From', :input_html => { :class => 'dateinput' }, :wrapper_html => { :class => 'date_field' }
        = f.input :time_to, :required => false, :label => 'To', :input_html => { :class => 'dateinput' }, :wrapper_html => { :class => 'date_field' }
        #payload_filter.input
          %label Payload (key : value)
          %div.payload_filter_fields
            %input{ :name => 'entries_filter[payload][INDEX][key]' }
            \:
            %input{ :name => 'entries_filter[payload][INDEX][value]' }
            = link_to image_tag('cancel.png'), '#', :class => 'delete'
          = link_to '+ Add more', '#', :class => 'add'

        = f.button :submit, 'Apply'
