%div#filters
  = simple_form_for @filter, :url => application_entries_path(@application), :html => { :method => :get } do |f|
    = f.input :severity, :collection => Entry::SEVERITY_TYPES.each
    = f.input :facility, :collection => @facilities
    = f.button :submit

#entries
  = render :partial => 'entries', :locals => { :entries => @entries }
