%div#filters
  %span Filters:
  %label{:for => "severity_selector"} Severity:
  %select#severity_selector{:name => "severity_selector"}
    %option{:value => "all"} All
    = Entry::SEVERITY_TYPES.each do |severity|
      %option{:value => "#{severity}"}= severity

  %label{:for => "facility_selector"} Facility:
  %select#facility_selector{:name => "facility_selector"}
    %option{:value => "all"} All
    = @facilities.each do |facility|
      %option{:value => "#{facility}"}= facility

%table#entries
  %thead
    %tr
      %th Severity
      %th Facility
      %th Timestamp
      %th Payload
  %tbody
    - if @entries.present?
      = render @entries
    - else
      %tr
        %td.empty_table{:colspan => 4}
          Nothing here now!
