%h1= t('.title', :default => "Applications")
%p= link_to t('.new_application', :default => "New application"), new_application_path

%table
  %thead
    %tr
      %th= Application.human_attribute_name :email
      %th= Application.human_attribute_name :user
      %th= Application.human_attribute_name :name
      %th= Application.human_attribute_name :api_key
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for application in @applications
      %tr{ :class => cycle(:odd, :even) }
        %td= application.user.email
        %td= application.name
        %td= application.api_key
        %td.action= link_to t('show', :default => "Show"), application
        %td.action= link_to t('edit', :default => "Edit"), edit_application_path(application)
        %td.action= link_to t('destroy', :default => "Destroy"), application, :confirm => t('are_you_sure', :default => "Are you sure"), :method => :delete
        