%h1= t('.title', :default => "Applications")

= link_to t('.new_application', :default => "New application"), new_application_path

%table.zebra
  %thead
    %tr
      %th= Application.human_attribute_name :name
      %th= Application.human_attribute_name :api_key
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for application in @applications
      %tr{ :class => cycle(:odd, :even) }
        %td.action.middle= link_to application.name, application_entries_path(application)
        %td= link_to 'Config file', config_file_path(application.api_key)
        %td.action.middle= link_to t('edit', :default => "Edit"), edit_application_path(application)
        %td.action.middle= link_to t('destroy', :default => "Destroy"), application, :confirm => t('are_you_sure', :default => "Are you sure"), :method => :delete
