#box
  #block-signup.block
    %h2 Change your password
    .content
      %br/
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form" }) do |f|
        = devise_error_messages!
        %p
          = f.label :password, :class => "label"
          = f.password_field :password, :class => "text_field"
        %p
          = f.label :password_confirmation, :class => "label"
          = f.password_field :password_confirmation, :class => "text_field"
        .group.navform.wat-cf
          %button.button{:type => 'submit'}
            =image_tag('web-app-theme/icons/tick.png', :alt => "Change my password")
            Change my password
