%br/


%h3 Add logbook gem to your app's Gemfile
.code
  %code gem 'logbook'
  
%br/

%h3
  = link_to 'Download config file', config_file_path(application.api_key)
  to the “config” directory or just do (from your app's root directory)

.code
  %code
    = "wget #{config_file_url(application.api_key)} -O config/logbook.yml"

%br/

%h3
  All set! Start using it,
  = link_to 'here is how', '#'

%br/

%h2.title Fancy testing it right now? Try the command below in your terminal

%br/

.code
  %code
    = "curl -k -d 'api_key=#{application.api_key}&entries[0][severity]=debug&entries[0][facility]=test\\\n&entries[0][timestamp]=Sun+Oct+17+12%3A51%3A01+%2B0400+2010\\\n&entries[0][payload][message]=Hello+World' 'https://logbook.me/entries'"

%br/